body {
    background-color: #ffffff !important;
}

.navbar-light,
.navbar-brand {
    color: #ffffff !important;
}

.nav-link {
    color: #24292E !important;
}

.navbar-light,
.navbar-nav {
    background-color: #24292E;
}